In [73]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [74]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [75]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [76]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [77]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [78]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [79]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [80]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [81]:
# Find the most recent date in the data set. Order data by date with recent first and display that row
results = engine.execute('SELECT * FROM Measurement ORDER BY date DESC').fetchall()
results[0]

(2724, 'USC00519397', '2017-08-23', 0.0, 81.0)

In [82]:
#Get the most recent date using the first row in cell above.
recent_date = [result[2] for result in results[:1]]
recent_date

['2017-08-23']

In [99]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.



# Perform a query to retrieve the data and precipitation scores
date_range = session.query(Measurement).\
    filter(Measurement.id > 2364)
print(date_range)

# Save the query results as a Pandas DataFrame and set the index to the date column

dates_df = pd.read_sql_table(Measurement, con=engine) #https://hackersandslackers.com/connecting-pandas-to-a-sql-database-with-sqlalchemy/

# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

SELECT measurement.id AS measurement_id, measurement.station AS measurement_station, measurement.date AS measurement_date, measurement.prcp AS measurement_prcp, measurement.tobs AS measurement_tobs
FROM measurement
WHERE measurement.id > ?

TypeError: sequence item 0: expected str instance, DeclarativeMeta found

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()